# Do not use Notepad to edit this.  Use VS, vim, Notepad++, etc.  Uses UNIX line endings.

*.user
*.suo
*.sdf
*.opensdf
*.opendb
*.sln.ide
*.nupkg
*.nuget.props
*.nuget.targets
project.lock.json
[Oo]bj/
[Bb]in/
Debug/
Release/
x86/
x64/
ARM/
ipch/
AppPackages/
*/.vs/*
**/.gradle/*
android/components/ScreenMirroring/LibNanoAPI/externals/
**with-nano**
.vscode/
*.g.inl
**/generated/**/ValueSetSerializer**